<div class="block news-block">
    <h2><a href="~language_prefix~~block_link~">~block_title~</a> <a href="~language_prefix~~block_link~" class="blue-btn">*Go to section*</a></h2>
    <hr>
    <div class="w66"><div class="carousel-container">
        <a href="#left" class="arrow left" data-m-auto="6000"></a>
        <ul class="carousel" data-m-action="carousel">~slides~</ul>
        <a href="#right" class="arrow right"></a>
    </div></div><!--
 --><div class="w33 links"><h3>*Rest of news in this section*:</h3><div class="">~links~</div></div>
</div>